.text {
    border: 3px solid black;
    height: 400px;
    width: 400px;
    overflow: scroll;
    margin-top: 200px;
    margin-left: 300px;
    font-size: 30px;
    box-shadow: -3px -41px 41px green;
}
